html, body {
	margin: 0;
	padding: 0;
	width: 100%;
    background-image: url("./images/background.png");
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
}

.logo{
	margin-left: 90px;
	margin-right: 90px;

}

.search-container {
    position: relative;
    margin-top: 20px;
    color: white;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.section-A{
	text-align: center;
	padding-left: 200px;
    padding-right: 200px;
    padding-top: 200px;
    color: white;
}

#shopnowbttn {
	background-color: #198450;
	border-radius: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	color: white;
    font-weight: bolder;
    border: 1px solid #1A1110;
}

.icon{
    color: white;
}

.nav-link {
  font-family: 'Alex Brush', cursive;
  font-family: 'Black Ops One', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Great Vibes', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Raleway', sans-serif;
  font-family: 'REM', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  margin-top: 20px;
}

.search-container input {
    background-color: transparent;
    outline: none;
    border-bottom: 1;
    border-top: none;
    border-left: none;
    border-right: none;
}

.search-container input:focus {
    background-color: transparent;
    color: white;
}

.search-container input::placeholder {
    color: white;
    font-size: 13px;
}

.collapse-logo {
    display: none;
}

@media (max-width: 768px) {
  .section-A {
    padding: 20px;
    margin-top: 80px;
  }

  #shopnowbttn {
    padding: 8px 20px;
    font-size: 14px;
  }

  .navbar {
        background-color: green;
        text-align: center;
        color: black;
  }

  .logo {
    display: none;
  }

  .collapse-logo {
    display: inline-block;
  }

}